<h2>
	BISCODE <br><small>Biscuits, Gummy Bears, &Code</small>
</h2>

<br>

<h3>What We do</h3>
<p>
	We bake our delicious code to create beautiful and robust applications
</p>

<br>

<h3>Team</h3>
<% @team_members.each do |member| %>
	<h5><%= link_to member.name, member %></h5>
<% end %>

<br>

<h3>We Love Open Source</h3>
<p>
	You can Find our open source contributions on our <a href="https://github.com/Biscode">github <i class="fa fa-github-alt fa-x"></i></a>
</p>
